@import "tailwindcss";

@theme {
    --background-color: #e4ede3;
    --color-primary: #004d61;
    --color-secondary: #ff5031;
    --color-tertiary: #dee9ea;
    --color-gray-100: #f8f8f8;
    --color-gray-200: #F5F5F5;
    --color-link: #47a138;
}